
:root{
    /* Background colors*/
    --bg-primary : #121212; /* main content */
    --bg-secondary : #1E1E1E;/* containers or sections */
    --bg-raised : #252525; /* raised elements */
    /* --bg-secondary-hover : #292929; */

    /* Text colors */
    --text-primary : #E0E0E0;
    --text-secondary : #B0B0B0;
    --text-disabled : #757575;

    /* Borders */
    --border-primary : #3C3C3C;
    --border-secondary : #292929;

    --border-active : #05E6D5; /* currently selected element */
    --border-hover : #555555; /* currently hovered element */
    --border-divider : #363636;

    /* Buttons */
    /*
    --button-primary : ;
    --button-primary-hover : ;
    --button-primary-text : ;
    
    --button-disabled : #757575;
    --button-text-disabled : #6C6C6C;
    */

    /* Fonts */
    --text-font :  system-ui, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body.light-mode {
    --bg-primary : #faf9f6;
    --bg-secondary : #F5F5F5;
    --bg-raised : #E0E0E0;

    --text-primary : #000000;
    --text-secondary : #555555;
    --text-disabled : #AAAAAA;

    --border-primary : #CCCCCC;
    --border-secondary : #BBBBBB;
    --border-active : #007BFF;
    --border-hover : #AAAAAA;
    --border-divider : #DDDDDD;
}


html, body{
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color : var(--text-primary);
    background-color: var(--bg-primary);
    font-family : var(--text-font);
}

.navbar-container{
    padding: 0.5rem;
}

.main-container{
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: row;
    flex: 1;
    padding : 0.5rem;
    gap : 0.5rem;
}

.main-content h2{
    text-align: center;
}

.left-content{
    flex: 2;
    padding: 1rem;
    border: 1px solid var(--border-secondary);
    background-color: var(--bg-secondary);
    border-radius: 0.25rem;
    height : fit-content;
    min-height: 100vh;
}

.hide-left .left-content{
    visibility: hidden;
}

.main-content{
    flex:10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--border-secondary);
    background-color: var(--bg-secondary);
    border-radius: 0.25rem;
}

.right-content{
    flex:2;
    padding: 1rem;
    border: 1px solid var(--border-secondary);
    background-color: var(--bg-secondary);
    border-radius: 0.25rem;
    height : fit-content;
    min-height: 100vh;
}

.hide-right .right-content{
    visibility: hidden;
}

.footer{
    background-color: var(--bg-primary);
    padding: 1rem;
    text-align: center;
}

.bannerContent {
    padding: 1rem;
    border: 1px rgba(0, 0, 0, 20%) solid;
    border-radius: 0.3rem;
    background-color: rgba(27, 27, 27, 0.05);
}

.textContentContainer{
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    overflow: hidden;
}

.textContentTitle{
    background-color: #212529;
    color : var(--text-primary);
    padding: 0.5rem;
}

.textContent {
    padding-top: 0;
    padding : 1rem;
    border-radius: 0.5rem;
}